/* Acá van tus reglas de estilo */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    /*background-image:url(img/8.jpg) ;*/
    background-color: blue;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.inicio{
    margin-top: 130px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}

.fondo{
    width:100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 5px;
}
.fondo img{
    margin-top: -75px;
    margin-bottom: 40px;
    width: 50%;
    border-radius: 50%;
    border:solid white 5px;
}

.fondo h2{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.fondo form{
    width: 50%;
}

.fondo form span{
    margin-right: 0px;
    background-color: rgba(255, 255, 255, .6);
    color: black;
    border:solid 7px rgba(255, 255, 255, .01);
    border-bottom:  solid 9.5px rgba(255, 255, 255, .01);
    border-top: solid 9px rgb(255, 255, 255, .01);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.caja{
    box-shadow: 0px;
    border: 0px;
    background-color: rgba(255, 255, 255, .1);
    width: 90%;
    margin-bottom: 35px;
    height: 30px;
    border: solid 2px  rgb(255, 255, 255, .5);
    font-size: 20px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.icono form{
   position: absolute;
   left: 0;
   top:8px;
   padding: 9px 8px;
   color:#aaa;
}

.boton{
    width: 100%;
    height: 40px;
    font-size: 25px;
    border: 0px;
    text-align: center;
    background: rgba(19, 136, 78, 0.932);
    border-bottom: solid 1px white;
    color: white;
    margin-top: 10px;
}

.boton:hover{
    background-color:  #15AC35;
    color: white;
}